<footer>
    <div class="filler"></div>
    <div id="footer-grid">
        <div>
            <h5>Contact us</h5>
            <h6>Phone Number: (919)111-1111</h6>
            <h6>Email: artand@artand.com</h6>
            <h6>Location: 1234 Somewhere Rd, Durham, NC</h6>
        </div>
        <div id="copyright-container">
            <h5 id="copyright">Angela Greene &#169 2024</h5>
        </div>
        <div></div>
    </div>
</footer>
</body>
</html>