<footer>
    <div id="footer-grid">
        <div>
            <h5>Contact us</h5>
            <h6>Phone Number: (919)886-1089</h6>
            <h6>Email: 4rtand.com@gmail.com</h6>
            <h6>Location: Parkwood HOA Community Center</h6>
            <h6>1417 Seaton Rd, Durham, NC 27713</h6>
        </div>
        <div id="copyright-container">
            <h5 id="copyright">Angela Greene &#169 2024</h5>
        </div>
        <div></div>
    </div>
</footer>
</body>
</html>