<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css"/>
  </head>
  <body>
    <header>
        <div class="main-header">
            <div id="logo-container">
              <div id="logo-image-container">
                <a href="/">
                  <img src="/images/logo-2.png" id="logo">
                </a>
              </div>
            </div>
            <div class="main-h1">
              <h1 id="artand">Math Art Connections</h1>
            </div>
        </div>
        <div class="main-nav">
          <div></div>
          <a href="/">Home</a>
          <a href="/about">About us</a>
          <a href="/camps">Camps</a>
          <a href="/policy">Policy</a>
          <div></div>
        </div>
    </header>
