<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
    <title>Artand - Math Art Connections</title>
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css"/>
  </head>
  <body>
    <header>
      <div class="main-header">
        <div id="logo-container">
          <div id="logo-image-container">
            <a href="/">
              <img src="/images/logo-2.png" id="logo">
            </a>
          </div>
        </div>
        <div class="main-h1">
          <p id="artand">Math Art Connections</p>
        </div>
        <div id="main-info-container">
          <p id="main-phone">Phone: (919)111-1111</p>
          <a href="/directions" id="main-location">Get Directions</a>
        </div>
      </div>
      <div class="main-nav">
        <div></div>
        <a href="/" class="navs">Home</a>
        <a href="/camps" class="navs">Camps</a>
        <a href="/tutoring" class="navs">Tutoring</a>
        <a href="/about" class="navs">About</a>
        <a href="/faqs" class="navs">FAQs</a>
        <a href="/policy" class="navs">Policy</a>
        <div></div>
      </div>
    </header>
