<%- include('./partials/header.ejs')%>
    <div class="main-container">
      <div class="content-wrap">
        <div class="filler"></div>
        <h2>Who Are We?</h2>
        <p class="body-text">We are educators and professionals who are passionate about learning and art. Our goal is to help your child explore the connections between what they learn in school and art.</p>
        <div class="about-content-box">
          <div class="box profile-grid" id="angela-box">
            <div class="pfp-container">
              <img class="pfp" src="/images/angela-pfp.png">
            </div>
            <div class="profile">
              <h3 class="name">Angela Greene - Managing Director/Owner</h3>
              <p class="profile-text box-text">Angela Greene is the director of the Math Art Connections camps offered in the summer of 2024. The (Art and) camps focus on connection in learning all academic disciplines using art, playing games, and having fun! Angela is a three time National Board Certified teacher, holds her NC teaching license until 2026, and has experience teaching elementary, middle, and high school students. She was the art teacher for 30+ years at Phillips Middle School in Chapel Hill, NC. After retirement she substituted in all disciplines for two years and continues to tutor both at a tutoring center and privately. You can reach Angela at
                <b>4rtand.com@gmail.com</b>, call or text <b>919 886 1089.</b> 
                </p>
            </div>
          </div>
          <div class="box profile-grid" id="dj-box">
            <div class="pfp-container">
              <img class="pfp" src="/images/dj-pfp.png">
            </div>
            <div class="profile">
              <h3 class="name">Debora Janicke - Teacher</h3>
              <p class="profile-text box-text">Certified teacher K-9 in State of North Carolina;
                Endorsed, Elementary Education (K-6); Highly Qualified Status in Social Studies 6-9; Science 6-9; Language Arts 6-9; 
                Professional background in Elementary Art; launched highly successful student art courses and exhibits.
              </p>
              <p class="profile-text box-text">
                I firmly believe that every student has a unique gift. Guided and encouraged properly, students can develop these gifts to become lifelong learners, excited by the prospect of making a better future for themselves, their families, their communities, and their world.
                I am eager to apply my professional teaching experience to educate and motivate campers in the Math Art Connections Summer Mini Camps, 2024. I look forward to helping your child discover math and art in a fun, creative, dynamic environment.
              </p>
            </div>
          </div>
          <div class="box profile-grid" id="brad-box">
            <div class="pfp-container">
              <img class="pfp" src="/images/brad-pfp.png">
            </div>
            <div class="profile">
              <h3 class="name">Brad King - Web Developer</h3>
              <p class="profile-text box-text">Brad King developed the website and registration software used by Math Art Connections. Brad is a recent graduate from UNC Charlotte where he studied Software engineering and Mathematics. Brad is also an exam prep teacher for high school students preparing for their college entrance exams (ACT and SAT).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include('./partials/footer.ejs')%>