<%- include('./partials/header.ejs')%>
<div class="main-container">
  <div class="content-wrap">
    <div class="filler"></div>
    <h2>Math Art Summer Mini Camp Details</h2>
    <p class="body-text">All camps are four 4/ 2-hour sessions from 9am-11am occurring on two consecutive Tuesdays
      and Wednesdays during the summer. The cost is only $199 per camp. Due to limited capacity,
      registration and fee payment must be complete to reserve your space in a camp.
    </p>
    <div id="main-content-box">
      <div class="box" id="box1">
        <h3>Camp 1</h3>
        <h3>Plus Minus Zero</h3>
        <div class="skills-content">
          <p class="box-text">Skills WIP</p>
        </div>
        <div class="date-grid-index">
          <p class="box-text">Dates WIP</p>
        </div>
        <p class="box-text">Campers will make their own drum, shaker, and zero heroes while working on their addition and
          subtraction skills. They will solve math problems and play games involving addition, subtraction,
          and the number zero. Each camper will take home their computation work, math art projects,
          and a math game pack to continue learning long after the camp is over!
        </p>
        <div class="center-content">
          <a class="button button-purple" href="/register">
            <div>
              <p class="button-text">Register Now</p>
            </div>
          </a>
        </div>
      </div>
      <div class="box" id="box2">
        <h3>Camp 2</h3>
        <h3>Times Into Fractions</h3>
        <div class="skills-content">
          <p class="box-text">Skills WIP</p>
        </div>
        <div class="date-grid-index">
          <p class="box-text">Dates WIP</p>
        </div>
        <p class="box-text">Campers will create monsters, beaded rings and bracelets, fractional landscapes, and division
          collages while working on their multiplication, division, and understanding of fractions. They will
          solve math problems and play games involving multiplication, division, and fractions. Each
          camper will take home their computation work, math art projects, and a math game pack to
          continue learning long after the camp is over!
        </p>
        <div class="center-content">
          <a class="button button-pink" href="/register">
            <div>
              <p class="button-text">Register Now</p>
            </div>
          </a>
        </div>
      </div>
      <div class="box" id="box3">
        <h3>Camp 3</h3>
        <h3>Geometry</h3>
        <div class="skills-content">
          <p class="box-text">Skills WIP</p>
        </div>
        <div class="date-grid-index">
          <p class="box-text">Dates WIP</p>
        </div>
        <p class="box-text">Campers will create Geo Shape Images, Geo Sculptures, and Optical Illusions as they learn to
          identify shapes and forms, and use formulas in the computation of simple geometric problems.
          They will use perimeter, area, pi, volume, and angles to play games involving geometry
          concepts. Each camper will take home their computation work, math art projects, and a math
          game pack to continue learning long after the camp is over!
        </p>
        <div class="center-content">
          <a class="button button-green" href="/register">
            <div>
              <p class="button-text">Register Now</p>
            </div>
          </a>
        </div>
      </div>
      <div class="box" id="box4">
        <h3>Camp 4</h3>
        <h3>Turbo Multiplication</h3>
        <div class="skills-content">
          <p class="box-text">Skills WIP</p>
        </div>
        <div class="date-grid-index">
          <p class="box-text">Dates WIP</p>
        </div>
        <p class="box-text">Campers will only focus on multiplication while making Multiplication Monsters, Skip Count
          Jewelry, Array Images, and Multiplication Masks. Each camper will take home their computation
          work, math art projects, and a math game pack to continue learning long after the camp is over!
        </p>
        <div class="center-content">
          <a class="button button-blue" href="/register">
            <div>
              <p class="button-text">Register Now</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs')%>