<%- include('./partials/header.ejs')%>
<div class="main-container">
  <div class="content-wrap">
    <div class="filler"></div>
    <h2>Math Art Summer Mini Camp Details</h2>
    <p class="body-text">All camps are four 4/ 2-hour sessions from 9am-11am occurring on two consecutive Tuesdays
      and Wednesdays during the summer. The cost is only $199 per camp. Due to limited capacity,
      registration and fee payment must be complete to reserve your space in a camp.
    </p>
    <div id="main-content-box">
      <div class="box camp-box-grid-1" id="box1">
        <div class="camp-content">
          <h3 class="camp-header-text">Camp 1: Plus Minus Zero</h3>
          <p class="box-text camp-description">Campers will make their own drum, shaker, and zero heroes while working on their addition and
          subtraction skills. They will solve math problems and play games involving addition, subtraction,
          and the number zero. Each camper will take home their computation work, math art projects,
          and a math game pack to continue learning long after the camp is over!
          </p>
          <div class="bottom-border-white">
            <p class="description-text-camps"><b>FOR GRADES: </b>K - 2nd</p>
            <p class="description-text-camps"><b>ART: </b>Drum, Shaker, Zero Heroes</p>
            <p class="description-text-camps"><b>MATH: </b>Addition, Subtraction, Zero</p>
          </div>
          <div class="bottom-border-white">
            <p class="time-text-camps">From 9am to 11am on...</p>
            <div class="date-grid-camps">
              <p class="date-text-camps">Tues. June 11th</p>
              <p class="date-text-camps">Weds. June 12th</p>
              <p class="date-text-camps">Tues. June 18th</p>
              <p class="date-text-camps">Weds. June 19th</p>
            </div>
          </div>
          <div class="center-content">
            <a class="button button-purple" href="/register">
              <div>
                <p class="button-text">Register Now</p>
              </div>
            </a>
          </div>
        </div>
        <!--<div id="camp-1-image-box">Replace With Image</div>-->
      </div>
      <div class="box" id="box2">
        <div class="camp-box-grid-2">
          <!--<div id="camp-2-image-box">Replace With Image</div>-->
          <div class="camp-content">
            <h3 class="camp-header-text">Camp 2: Times Into Fractions</h3>
            <p class="box-text camp-description">Campers will create monsters, beaded rings and bracelets, fractional landscapes, and division
              collages while working on their multiplication, division, and understanding of fractions. They will
              solve math problems and play games involving multiplication, division, and fractions. Each
              camper will take home their computation work, math art projects, and a math game pack to
              continue learning long after the camp is over!
            </p>
            <div class="bottom-border-white">
              <p class="description-text-camps"><b>FOR GRADES: </b>3rd - 6th</p>
              <p class="description-text-camps"><b>ART: </b>Multi-Monsters, Bead rings & Bracelets, Fraction Landscapes, Division collages</p>
              <p class="description-text-camps"><b>MATH: </b>Multiplication, Division, and Simple Fractions</p>
            </div>
            <div class="bottom-border-white">
              <p class="time-text-camps">From 9am to 11am on...</p>
              <div class="date-grid-camps">
                <p class="date-text-camps">Tues. June 25th</p>
                <p class="date-text-camps">Weds. June 26th</p>
                <p class="date-text-camps">Tues. July 2nd</p>
                <p class="date-text-camps">Weds. July 3rd</p>
              </div>
            </div>
            <div class="center-content">
              <a class="button button-pink" href="/register">
                <div>
                  <p class="button-text">Register Now</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="box" id="box3">
        <div class="camp-box-grid-1">
          <div class="camp-content">
            <h3 class="camp-header-text">Camp 3: Geometry</h3>
            <p class="box-text camp-description">Campers will create Geo Shape Images, Geo Sculptures, and Optical Illusions as they learn to
              identify shapes and forms, and use formulas in the computation of simple geometric problems.
              They will use perimeter, area, pi, volume, and angles to play games involving geometry
              concepts. Each camper will take home their computation work, math art projects, and a math
              game pack to continue learning long after the camp is over!
            </p>
            <div class="bottom-border-white">
              <p class="description-text-camps"><b>FOR GRADES: </b>3rd - 6th</p>
              <p class="description-text-camps"><b>ART: </b>Geometric Shapes, Sculptures, and Optical Illusions</p>
              <p class="description-text-camps"><b>MATH: </b>Geometry, Identify Shapes, Forms, Use Geometric Formulas</p>
            </div>
            <div class="bottom-border-white">
              <p class="time-text-camps">From 9am to 11am on...</p>
              <div class="date-grid-camps">
                <p class="date-text-camps">Tues. July 9th</p>
                <p class="date-text-camps">Weds. July 10th</p>
                <p class="date-text-camps">Tues. July 16th</p>
                <p class="date-text-camps">Weds. July 17th</p>
              </div>
            </div>
            <div class="center-content">
              <a class="button button-green" href="/register">
                <div>
                  <p class="button-text">Register Now</p>
                </div>
              </a>
            </div>
          </div>
          <!--<div id="camp-3-image-box">Replace With Image</div>-->
        </div>
      </div>
      <div class="box" id="box4">

        <div class="camp-box-grid-2">
          <!--<div id="camp-4-image-box">Replace With Image</div>-->
          <div class="camp-content">
            <h3 class="camp-header-text">Camp 4: Turbo Multiplication</h3>
            <p class="box-text camp-description">Campers will only focus on multiplication while making Multiplication Monsters, Skip Count
              Jewelry, Array Images, and Multiplication Masks. Each camper will take home their computation
              work, math art projects, and a math game pack to continue learning long after the camp is over!
            </p>
            <div class="bottom-border-white">
              <p class="description-text-camps"><b>FOR GRADES: </b>2nd - 6th</p>
              <p class="description-text-camps"><b>ART: </b>Array Images, Multi-Monsters, Multi-Masks, Skip Count Jewelry</p>
              <p class="description-text-camps"><b>MATH: </b>Basic Multiplication, Using Tables, Multiplication Secrets</p>
            </div>
            <div class="bottom-border-white">
              <div class="date-grid-camps">
                <p class="date-text-camps">Tues. July 23rd</p>
                <p class="date-text-camps">Weds. July 24th</p>
                <p class="date-text-camps">Tues. July 30th</p>
                <p class="date-text-camps">Weds. July 31st</p>
              </div>
            </div>
            <div class="center-content">
              <a class="button button-blue" href="/register">
                <div>
                  <p class="button-text">Register Now</p>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs')%>