<%- include('./partials/header.ejs')%>
    <div class="main-container">
        <div class="content-wrap">
            <div id="square-container">
                <div style=" overflow: auto; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; width: 259px; background: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: -2px 10px 5px rgba(0, 0, 0, 0); border-radius: 10px; font-family: Roboto, SQ Market, Helvetica, Arial, sans-serif; "> <img src="https://items-images-production.s3.us-west-2.amazonaws.com/files/399cb74bf07868ac5a43269e3c0e80fd39b36b63/original.png" alt="Camp One: Plus Minus Zero: (+ - 0)" onerror="this.style.display='none'" style="width: 100%;"> <div style="padding: 20px;"> <p style=" font-size: 18px; line-height: 20px; font-weight: 600; ">$199.00</p> <a target="_blank" href="https://square.link/u/UzT3gFrS?src=embed" style=" display: inline-block; font-size: 18px; line-height: 48px; height: 48px; color: #ffffff; min-width: 212px; background-color: #000D4E; text-align: center; box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset; border-radius: 50px; ">Buy now</a> </div> <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"> </div>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>