<%- include('./partials/header.ejs')%>
<div class="main-container">
    <div class="content-wrap">
        <h2>There has been an error registering your child. Please reach out to 4rtand.com@gmail.com to complete registration.</h2>
        <h2>Sorry for the inconvinience.</h2>
    </div>
</div>
<%- include('./partials/footer.ejs')%>