<%- include('./partials/header.ejs')%>
<div class="main-container">
    <div class="content-wrap">
        <h2>Thank you for registering for the <b>Art and</b> Math Art Connections Summer Camps!</h2>
        <h2>Please look for a confirmation email from Angela Greene with details about the camp(s) you
            have chosen and instructions for your square payment to reserve your space.</h2>
        <h2>If you have any
            questions, feel free to contact Angela Greene at 4rtand.com@gmail.com or call 919 886 1089.
            We are looking forward to a great summer of math fun!</h2>
        <div class="center-content">
            <div>
                <a class="button" id="home-button" href="/home">
                    <div>
                        <p class="home-button-text">Return To Home Page</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs')%>