<%- include('./partials/header.ejs')%>
<div class="main-container">
    <div class="content-wrap">
        <h2>There has been an error registering your child. Please reach out to 4rtand.com@gmail.com to complete registration.</h2>
        <h2>Sorry for the inconvinience.</h2>
        <div class="center-content">
            <div>
                <a class="button" id="home-button" href="/home">
                    <div>
                        <p class="home-button-text">Return To Home Page</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs')%>