<%- include('./partials/header.ejs')%>
<div class="main-container">
    <div class="content-wrap">
        <h2>Thank you for registering with Math Art Connections!</h2>
    </div>
</div>
<%- include('./partials/footer.ejs')%>