<%- include('./partials/header.ejs')%>
    <div class="main-container">
      <div class="content-wrap">
        <div class="filler"></div>
        <h2>FAQs</h2>
        <p class="body-text">Scroll down to see many of our frequently asked questions, and their answers. If you cannot find an answer to your questions please reach out to 4rtand@gmail.com.</p>
        <div class="faqs">
          <h2 class="question">Why are the camps only two hours long?</h2>
          <div></div>
          <p class="answer body-text">The Math Art Connections Summer Mini Camps are not day camps. The activities and projects we do are created to reinforce the campers’ math and art skills within a two hour time frame. This gives each camper ample time to reflect, share, and practice the skills they learned as well as attend other camps, clubs, sports etc…
          </p>
          <h2 class="question">Can students with special needs attend these camps?</h2>
          <div></div>
          <p class="answer body-text">We strive to include all campers that are self sufficient with personal hygiene needs, not a safety risk to themselves or others, and able to work in groups indoors and outside. The <b>MAC</b> summer camps are not equipped or designed to be therapeutic or treatment programs for children. We do not provide one-on-one supervision for students. If your child requires this type of setting, you would be responsible for ensuring that the mentor/counselor is present during the times your child is participating in the program.
          </p>
          <h2 class="question">Will campers be photographed during the camps?</h2>
          <div></div>
          <p class="answer body-text">Projects, equations, and game play that does not reveal the identity of the camper may be photographed for documentation purposes and used in future marketing materials. Campers will not be photographed or videotaped without parental consent.
          </p>
          <h2 class="question">What should campers wear and bring to camp?</h2>
          <div></div>
          <p class="answer body-text"><b>All families are required to provide any water or snacks your child might require during the summer camps.</b> Your child should wear comfortable sneakers and clothing that can get dirty or bring an apron or art shirt to protect clothing.
          </p>
          <h2 class="question">What should campers not bring to camp?</h2>
          <div></div>
          <p class="answer body-text">Campers should refrain from bringing anything valuable or fragile to camp, this includes toys, electronics, phones, or cash. We are not responsible for anything lost or broken at camp.
          </p>
          <h2 class="question">Do I need to bring water and a snack?</h2>
          <div></div>
          <p class="answer body-text">All families are required to provide any water or snacks your child might require during the summer camps.
          </p>
          <h2 class="question">Does my camper need to bring sunscreen since they may be indoors and outdoors during the camp?</h2>
          <div></div>
          <p class="answer body-text">If campers are sun sensitive, yes, wear sunscreen to camp. We don’t always know when we will be outside. When outside there will always be a shade option.
          </p>
          <h2 class="question">How does the HOA plans for remodeling affect the camps?</h2>
          <div></div>
          <p class="answer body-text">The Parkwood HOA Community Building is scheduled for some light remodeling this summer. We have worked with the HOA administrator to schedule around
            the camps as much as possible. If a conflict does arise, we have options to work in the outdoor space on the HOA community building grounds.             
          </p>
          <div></div>
        </div>
      </div>
    </div>
<%- include('./partials/footer.ejs')%>