<%- include('./partials/header.ejs')%>
    <div class="main-container">
      <div class="content-wrap">
        <div class="filler"></div>
        <h2>FAQs</h2>
        <p class="body-text">Below you will find some frequently asked questions. Please refer to the Policy
          Handbook for a complete understanding of the policies and operational
          procedures for the (MAC) Math Art Connections Summer Camps 2024.</p>
        <div class="faqs">
          <h2 class="question">Where is the location of the Math Art (MAC) Summer Camps 2024?</h2>
          <div class="faq-filler"></div>
          <p class="answer body-text">The Parkwood Home Owners Association Building
            1417 Seaton Road, Durham, NC 27713</p>
          <h2 class="question">How do the Math Art Connections Camps work?</h2>
          <div></div>
          <p class="answer body-text">All camps are four 4/ 2-hour sessions from 9am-11am occurring on two consecutive Tuesdays
            and Wednesdays during the summer.</p>
          <h2 class="question">What are the start/end times of the MAC camps?</h2>
          <div></div>
          <p class="answer body-text">All camps start at 9am and end at 11am.</p>
          <h2 class="question">How long are the camp sessions? Why only 2 hours?</h2>
          <div></div>
          <p class="answer body-text">The Math Art Connections Summer Mini Camps are not day camps. The activities and projects
            we do are created to reinforce the campers’ math and art skills within a two hour time frame.
            This gives each camper ample time to reflect, share, and practice the skills they learned as well
            as attend other camps, clubs, sports etc...</p>
          <h2 class="question">Who is eligible to participate in the Math Art (MAC) camps?</h2>
          <div></div>
          <p class="answer body-text">Students
            who are in K-6th grade are eligible to join any of the MAC camps. Each camp has a suggested
            grade span based on the NC Standard Course of Study for Math.</p>
          <h2 class="question">Are the camps open to students with special
            needs?</h2>
          <div></div>
          <p class="answer body-text">We strive to include all campers that are self
            sufficient with personal hygiene needs, not a safety risk to themselves or others, and able to
            work in groups indoors and outside. The MAC summer camps are not equipped or designed to
            be therapeutic or treatment programs for children. We do not provide one-on-one supervision for
            students. If your child requires this type of setting, you would be responsible for ensuring that
            the mentor/counselor is present during the times your child is participating in the program.</p>
          <h2 class="question">Are the teachers qualified and experienced?</h2>
          <div></div>
          <p class="answer body-text">Our teachers are highly qualified and very
            experienced. Please see the About page on the website to learn more about our teachers.
            Family Open House will be held at the Parkwood Association HOA Community Building, 1417
            Seaton Road, Durham, NC 27713 on Saturday May 18, 2024 from 10:00 to 11:00 am. You can
            meet our staff and see examples of the math computations, games we will play, and art we will
            create during the MAC Summer Mini Camps.</p>
          <h2 class="question">What are the drop off and pick up policies for the MAC camps?</h2>
          <div></div>
          <p class="answer body-text">Please do not drop your camper off before 8:50am, there will be no supervision before that time.
            Attendance is taken every morning by 9:00 AM. The safety procedures and specifics about drop
            off and pick up are in the Policy Handbook.</p>
          <h2 class="question">Is there a fee if I am late to pick up my child?</h2>
          <div></div>
          <p class="answer body-text">Yes, but each situation is different, please see the Policy Handbook for specifics on late pick up.</p>
          <h2 class="question">What does my camper need to bring and wear to camp?</h2>
          <div></div>
          <p class="answer body-text">Your child should wear comfortable sneakers and clothing that can get dirty or bring an apron or
            art shirt to protect clothing. We work indoors and outdoors depending on the activities scheduled
            for that day. All families are required to provide any water or snacks your child might
            require during the summer camps.</p>
          <h2 class="question">What should my camper not bring?</h2>
          <div></div>
          <p class="answer body-text">Campers should refrain from bringing anything valuable or fragile to camp, this includes toys,
            electronics, phones, or cash. We are not responsible for anything lost or broken at camp.</p>
          <h2 class="question">What if my child should get hurt at camp?</h2>
          <div></div>
          <p class="answer body-text">Campers and teachers are expected to
            follow the Code of Conduct in the Policy Handbook to help prevent accidents. We take every
            precaution to keep campers safe while at camp, but sometimes accidents do happen. If your
            child gets hurt at camp, we will contact you immediately. We may have to ask you to come and
            pick them up. We don’t pay for medical treatment or expenses of children who get hurt at camp.
            If the injury is serious, our first call is to 911 Emergency Services. You’ll be responsible for
            paying any fees for your child’s transport and care.</p>
          <p class="answer body-text">We may have to ask for a doctor’s note before we can allow your child to come back to camp if
            they’ve been hurt or sick.</p>
          <p class="answer body-text">Please refer to the Health, Injuries, and Medical Polices section of the Policy Handbook for
            specific information about medical emergencies and COVID policies.</p>
          <h2 class="question">What if I have to cancel a camp?</h2>
          <div></div>
          <p class="answer body-text">Please refer to the Camp Cancellation and Refund Policies in the Policy Handbook for specific
            instructions to cancel a camp and our refund policy.</p>
          <h2 class="question">What is the privacy policy?</h2>
          <div></div>
          <p class="answer body-text">At Artand, we respect your privacy. Projects, equations, and game play that does not reveal the
            identity of the camper may be photographed for documentation purposes and used in future
            marketing materials. Campers will not be photographed or videotaped without parental consent.
            There is no personal information stored on this website and your payment is secured through
            Square after receiving a personal email from the director confirming your reservations for your
            camps. Your contact information will be kept until the camp has ended. Your email, unless
            otherwise requested, will be saved in a private spreadsheet to make you aware of future camps,
            tutoring, and other opportunities to help your children enjoy learning.</p>
          <h2 class="question">Will campers be photographed during the camps?</h2>
          <div></div>
          <p class="answer body-text">Projects, equations, and game play that does not reveal the identity of the camper may be photographed for documentation purposes and used in future marketing materials. Campers will not be photographed or videotaped without parental consent.
          </p>
          <h2 class="question">Do I need to bring water and a snack?</h2>
          <div></div>
          <p class="answer body-text">All families are required to provide any water or snacks your child might require during the summer camps.
          </p>
          <h2 class="question">Does my camper need to bring sunscreen since they may be indoors and outdoors during the camp?</h2>
          <div></div>
          <p class="answer body-text">If campers are sun sensitive, yes, wear sunscreen to camp. We don’t always know when we will be outside. When outside there will always be a shade option.
          </p>
          <h2 class="question">How does the HOA plans for remodeling affect the camps?</h2>
          <div></div>
          <p class="answer body-text">The Parkwood HOA Community Building is scheduled for some light remodeling this summer. We have worked with the HOA administrator to schedule around
            the camps as much as possible. If a conflict does arise, we have options to work in the outdoor space on the HOA community building grounds.             
          </p>
          <div></div>
        </div>
      </div>
    </div>
<%- include('./partials/footer.ejs')%>