<%- include('./partials/header.ejs')%>
    <div class="main-container">
      <div class="content-wrap">
        <div class="filler"></div>
        <h2>FAQs</h2>
        <p class="body-text">Scroll down to see many of our frequently asked questions, and their answers. If you cannot find an answer to your questions please reach out to 4rtand@gmail.com.</p>
        <div class="faqs"></div>
      </div>
    </div>
<%- include('./partials/footer.ejs')%>