<%- include('./partials/header.ejs')%>
<div class="main-container">
  <div class="content-wrap">
    <div class="filler"></div>
    <p class="page-msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div id="box-grid">
      <div class="box" id="camp1">
        <h3>Camp 1</h3>
        <p class="box-text"> Camp description something goes here. This is just a placeholder. Filler text is the best text.</p>
        <a class="button-link" href="/camps">
          <div class="button">
            <p class="button-text">Learn More</p>
          </div>
        </a>
      </div>
      <div class="box" id="camp2">
        <h3>Camp 2</h3>
        <p class="box-text"> Camp description something goes here. This is just a placeholder. Filler text is the best text.</p>
        <a class="button-link" href="/camps">
          <div class="button">
            <p class="button-text">Learn More</p>
          </div>
        </a>
      </div>
      <div class="box" id="camp3">
        <h3>Camp 3</h3>
        <p class="box-text"> Camp description something goes here. This is just a placeholder. Filler text is the best text.</p>
        <a class="button-link" href="/camps">
          <div class="button">
            <p class="button-text">Learn More</p>
          </div>
        </a>
      </div>
      <div class="box" id="camp4">
        <h3>Camp 4</h3>
        <p class="box-text"> Camp description something goes here. This is just a placeholder. Filler text is the best text.</p>
        <a class="button-link" href="/camps">
          <div class="button">
            <p class="button-text">Learn More</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
