<%- include('./partials/header.ejs')%>
<div class="main-container">
  <div class="content-wrap">
    <div class="filler"></div>
    <h2>Discover Camps at Artland</h2>
    <p id="welcome-msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div id="box-grid">
      <div></div>
      <div class="box" id="camp1"></div>
      <div></div>
      <div class="box" id="camp2"></div>
      <div></div>
      <div></div>
      <div class="box" id="camp3"></div>
      <div></div>
      <div class="box" id="camp4"></div>
      <div></div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
