<%- include('./partials/header.ejs')%>
<div class="main-container">
  <div class="content-wrap">
    <div class="filler"></div>
    <h2>Math Art Connections Summer Mini Camps for K-6th Graders here in Durham, NC!</h2>
    <p class="body-text">Welcome! In the Math Art Connections camps we will make art, crafts, and play games while learning and using foundational math skills. The small group setting is ideal for campers, with a student: teacher ratio of 3:1, and a limit of 6 campers. Taught by two highly qualified retired teachers; the camps are grade appropriate, subject similar, and based on the NC Standard Course of Study. The curriculum design makes it easy to choose a camp that helps your child review and reinforce their math skills. When your child has the attention, motivation, and opportunity to learn using art and games in a fun creative environment; they are more likely to enjoy the challenges of learning and using math!</p>
    <div id="box-grid">
      <div class="box" id="camp1">
        <h3 class="camp-header-text">Camp 1: Plus Minus Zero</h3>
        <div class="bottom-border-white">
          <p class="description-text"><b>FOR GRADES: </b>K - 2nd</p>
          <p class="description-text"><b>ART: </b>Drum, Shaker, Zero Heroes</p>
          <p class="description-text"><b>MATH: </b>Addition, Subtraction, Zero</p>
        </div>
        <div class="bottom-border-white">
          <div class="date-grid-index">
            <p class="date-text">Tues. June 11th</p>
            <p class="date-text">Weds. June 12th</p>
            <p class="date-text">Tues. June 18th</p>
            <p class="date-text">Weds. June 19th</p>
          </div>
        </div>
        <div class="center-content">
          <a class="button button-purple" href="/camps#box1">
            <div>
              <p class="button-text">Learn More</p>
            </div>
          </a>
        </div>
      </div>
      <div class="box" id="camp2">
        <h3 class="camp-header-text">Camp 2: Times Into Fractions</h3>
        <div class="bottom-border-white">
          <p class="description-text"><b>FOR GRADES: </b>3rd - 6th</p>
          <p class="description-text"><b>ART: </b>Multi-Monsters, Bead rings & Bracelets, Fraction Landscapes, Division collages</p>
          <p class="description-text"><b>MATH: </b>Multiplication, Division, and Simple Fractions</p>
        </div>
        <div class="bottom-border-white">
          <div class="date-grid-index">
            <p class="date-text">Tues. June 25th</p>
            <p class="date-text">Weds. June 26th</p>
            <p class="date-text">Tues. July 2nd</p>
            <p class="date-text">Weds. July 3rd</p>
          </div>
        </div>
        <div class="center-content">
          <a class="button button-pink" href="/camps#box2">
            <div>
              <p class="button-text">Learn More</p>
            </div>
          </a>
        </div>
      </div>
      <div class="box" id="camp3">
        <h3 class="camp-header-text">Camp 3: Geometry</h3>
        <div class="bottom-border-white">
          <p class="description-text"><b>FOR GRADES: </b>3rd - 6th</p>
          <p class="description-text"><b>ART: </b>Geometric Shapes, Scupltures, and Optical Illusions</p>
          <p class="description-text"><b>MATH: </b>Geometry, Identify Shapes, Forms, Use Geometric Formulas</p>
        </div>
        <div class="bottom-border-white">
          <div class="date-grid-index">
            <p class="date-text">Tues. July 9th</p>
            <p class="date-text">Weds. July 10th</p>
            <p class="date-text">Tues. July 16th</p>
            <p class="date-text">Weds. July 17th</p>
          </div>
        </div>
        <div class="center-content">
          <a class="button button-green" href="/camps#box3">
            <div>
              <p class="button-text">Learn More</p>
            </div>
          </a>
        </div>
      </div>
      <div class="box" id="camp4">
        <h3 class="camp-header-text">Camp 4: Turbo Multiplication</h3>
        <div class="bottom-border-white">
          <p class="description-text"><b>FOR GRADES: </b>2nd - 6th</p>
          <p class="description-text"><b>ART: </b>Array Images, Multi-Monsters, Multi-Masks, Skip Count Jewelry</p>
          <p class="description-text"><b>MATH: </b>Basic Multiplication, Using Tables, Multiplication Secrets</p>
        </div>
        <div class="bottom-border-white">
          <div class="date-grid-index">
            <p class="date-text">Tues. July 23rd</p>
            <p class="date-text">Weds. July 24th</p>
            <p class="date-text">Tues. July 30th</p>
            <p class="date-text">Weds. July 31st</p>
          </div>
        </div>
        <div class="center-content">
          <a class="button button-blue" href="/camps#box4">
            <div>
              <p class="button-text">Learn More</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
