<%- include('./partials/header.ejs')%>
    <div class="main-container">
        <div class="content-wrap">
            <h2>Policy Handbook</h2>
            <div class="box" id="policy-box"></div>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>