<%- include('./partials/header.ejs')%>
    <div class="main-container">
        <div class="content-wrap">
            <h2>Select Camps</h2>
            <h2>Contact Info</h2>
            <h2>Child Information</h2>
            <a class="button" id="agreement-button" href="/agreement">
                <div>
                    <p class="button-text">Continue</p>
                </div>
            </a>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>