<%- include('./partials/header.ejs')%>
    <div class="main-container">
        <div class="content-wrap center-content">
            <div class="form-container">
                <form action="/pay" method="POST">
                    <div id="household-info">
                        <h2>Household Information</h2>
                        <h2>Parent/Guardian Information</h2>
                        <label for="extra-parent">Add A Second Parent/Guardian</label>
                        <input type="checkbox" id="extra-parent" name="extra-parent" value="Add Another Parent/Guardian">
                        <input type="hidden" name="has-parent-2" id="has-parent-2" value="false">
                        <div id="parent-1" class="field-container">
                            <h2>Parent/Guardian 1</h2>
                            <label for="fname-1">First name:</label>
                            <input type="text" id="fname-1" name="fname-1" required>
                            <label for="lname-1">Last name:</label>
                            <input type="text" id="lname-1" name="lname-1" required>
                            <label for="phone-1">Daytime Contact Phone:</label>
                            <input type="text" id="phone-1" name="phone-1" required pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                            <label for="email-1">Email Address:</label>
                            <input type="email" id="email-1" name="email-1" required>
                            <label for="address-1">Street Address:</label>
                            <input type="text" id="address-1" name="address-1" required>
                            <label for="aptnum-1">Apartment Number:</label>
                            <input type="text" id="aptnum-1" name="aptnum-1">
                            <label for="city-1">City:</label>
                            <input type="text" id="city-1" name="city-1" required>
                            <label for="state-1">State:</label>
                            <input type="text" id="state-1" name="state-1" required>
                            <label for="zip-1">Zip Code:</label>
                            <input type="text" id="zip-1" name="zip-1" required>
                        </div>
                        <div id="parent-2" class="field-container">
                            <h2>Parent/Guardian 2</h2>
                            <label for="fname-2">First name:</label>
                            <input type="text" id="fname-2" name="fname-2" required class="parent-2-fields">
                            <label for="lname-2">Last name:</label>
                            <input type="text" id="lname-2" name="lname-2" required class="parent-2-fields">
                            <label for="phone-2">Daytime Contact Phone:</label>
                            <input type="text" id="phone-2" name="phone-2" required class="parent-2-fields" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                            <label for="email-2">Email Address:</label>
                            <input type="email" id="email-2" name="email-2" required class="parent-2-fields">
                            <label for="address-2">Street Address:</label>
                            <input type="text" id="address-2" name="address-2" required class="parent-2-fields">
                            <label for="aptnum-2">Apartment Number:</label>
                            <input type="text" id="aptnum-2" name="aptnum-2">
                            <label for="city-2">City:</label>
                            <input type="text" id="city-2" name="city-2" required class="parent-2-fields">
                            <label for="state-2">State:</label>
                            <input type="text" id="state-2" name="state-2" required class="parent-2-fields">
                            <label for="zip-2">Zip Code:</label>
                            <input type="text" id="zip-2" name="zip-2" required class="parent-2-fields">
                        </div>
                        <h2>Local Emergency Contact</h2>
                        <div id="emergency-contact" class="field-container">
                            <label for="fname-ec">First name:</label>
                            <input type="text" id="fname-ec" name="fname-ec" required>
                            <label for="lname-ec">Last name:</label>
                            <input type="text" id="lname-ec" name="lname-ec" required>
                            <label for="relation-ec">Relationship to Child:</label>
                            <input type="text" id="relation-ec" name="relation-ec" required>
                            <label for="cellphone-ec">Cell Number:</label>
                            <input type="tel" name="cellphone-ec" required pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                            <label for="homephone-ec">Home Number:</label>
                            <input type="tel" name="homephone-ec" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                            <label for="workphone-ec">Work Number:</label>
                            <input type="tel" name="workphone-ec" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                        </div>
                    </div>
                    <h2>Approved Pick-up List</h2>
                    <div id="pickup-list" class="field-container">
                        <input type="button" id="add-pickup" value="Add An Approved Pick-up">
                        <div id="pickup-1">
                            <input type="hidden" id="has-pickup-1" name="has-pickup-1" value="false">
                            <label for="name-pickup-1">Full Name:</label>
                            <input type="text" id="name-pickup-1" name="name-pickup-1" required class="pickup-1-fields">
                            <label for="relation-pickup-1">Relationship to Child:</label>
                            <input type="text" id="relation-pickup-1" name="relation-pickup-1" required class="pickup-1-fields">
                        </div>
                        <div id="pickup-2">
                            <input type="hidden" id="has-pickup-2" name="has-pickup-2" value="false">
                            <label for="name-pickup-2">Full Name:</label>
                            <input type="text" id="name-pickup-2" name="name-pickup-2" required class="pickup-2-fields">
                            <label for="relation-pickup-2">Relationship to Child:</label>
                            <input type="text" id="relation-pickup-2" name="relation-pickup-2" required class="pickup-2-fields">
                        </div>
                        <div id="pickup-3">
                            <input type="hidden" id="has-pickup-3" name="has-pickup-3" value="false">
                            <label for="name-pickup-3">Full Name:</label>
                            <input type="text" id="name-pickup-3" name="name-pickup-3" required class="pickup-3-fields">
                            <label for="relation-pickup-3">Relationship to Child:</label>
                            <input type="text" id="relation-pickup-3" name="relation-pickup-3" required class="pickup-3-fields">
                        </div>
                    </div>
                    <h2>Camper Information</h2>
                    <div id="num-children" class="field-container">
                        <h2>How Many Campers Are You Registering?</h2>
                        <label>1</label>
                        <input type="radio" name="num-children" value="1" id="radio-1" required checked>
                        <label>2</label>
                        <input type="radio" name="num-children" value="2" id="radio-2">
                        <label>3</label>
                        <input type="radio" name="num-children" value="3" id="radio-3">
                        <label>4</label>
                        <input type="radio" name="num-children" value="4" id="radio-4">
                    </div>
                    <div id="camp-selections">
                        <input type="hidden" id="pmz-1" name="pmz-1" value="true">
                        <input type="hidden" id="tif-1" name="tif-1" value="false">
                        <input type="hidden" id="geo-1" name="geo-1" value="false">
                        <input type="hidden" id="tum-1" name="tum-1" value="false">
                        <input type="hidden" id="pmz-2" name="pmz-2" value="true">
                        <input type="hidden" id="tif-2" name="tif-2" value="false">
                        <input type="hidden" id="geo-2" name="geo-2" value="false">
                        <input type="hidden" id="tum-2" name="tum-2" value="false">
                        <input type="hidden" id="pmz-3" name="pmz-3" value="true">
                        <input type="hidden" id="tif-3" name="tif-3" value="false">
                        <input type="hidden" id="geo-3" name="geo-3" value="false">
                        <input type="hidden" id="tum-3" name="tum-3" value="false">
                        <input type="hidden" id="pmz-4" name="pmz-4" value="true">
                        <input type="hidden" id="tif-4" name="tif-4" value="false">
                        <input type="hidden" id="geo-4" name="geo-4" value="false">
                        <input type="hidden" id="tum-4" name="tum-4" value="false">
                    </div>
                    <div id="camper-1" class="field-container box">
                        <h2>Camper 1</h2>
                        <label for="camp1-1">Plus Minus Zero</label>
                        <input type="checkbox" name="camp1-1" id="camp1-check-1" checked>
                        <label for="camp2-1">Times Into Fractions</label>
                        <input type="checkbox" name="camp2-1" id="camp2-check-1">
                        <label for="camp3-1">Geometry</label>
                        <input type="checkbox" name="camp3-1" id="camp3-check-1">
                        <label for="camp4-1">Turbo Multiplication</label>
                        <input type="checkbox" name="camp4-1" id="camp4-check-1">
                        <label for="fname-camper-1">First name:</label>
                        <input type="text" id="fname-camper-1" name="fname-camper-1" required>
                        <label for="lname-camper-1">Last name:</label>
                        <input type="text" id="lname-camper-1" name="lname-camper-1" required>
                    </div>
                    <div id="camper-2" class="field-container box">
                        <h2>Camper 2</h2>
                        <label for="camp1-2">Plus Minus Zero</label>
                        <input type="checkbox" name="camp1-2" id="camp1-check-2" checked>
                        <label for="camp2-2">Times Into Fractions</label>
                        <input type="checkbox" name="camp2-2" id="camp2-check-2">
                        <label for="camp3-2">Geometry</label>
                        <input type="checkbox" name="camp3-2" id="camp3-check-2">
                        <label for="camp4-2">Turbo Multiplication</label>
                        <input type="checkbox" name="camp4-2" id="camp4-check-2">
                        <label for="fname-camper-2">First name:</label>
                        <input type="text" id="fname-camper-2" name="fname-camper-2" required class="camper-2-fields">
                        <label for="lname-camper-2">Last name:</label>
                        <input type="text" id="lname-camper-2" name="lname-camper-2" required class="camper-2-fields">
                    </div>
                    <div id="camper-3" class="field-container box">
                        <h2>Camper 3</h2>
                        <label for="camp1-3">Plus Minus Zero</label>
                        <input type="checkbox" name="camp1-3" id="camp1-check-3" checked>
                        <label for="camp2-3">Times Into Fractions</label>
                        <input type="checkbox" name="camp2-3" id="camp2-check-3">
                        <label for="camp3-3">Geometry</label>
                        <input type="checkbox" name="camp3-3" id="camp3-check-3">
                        <label for="camp4-3">Turbo Multiplication</label>
                        <input type="checkbox" name="camp4-3" id="camp4-check-3">
                        <label for="fname-camper-3">First name:</label>
                        <input type="text" id="fname-camper-3" name="fname-camper-3" required class="camper-3-fields">
                        <label for="lname-camper-3">Last name:</label>
                        <input type="text" id="lname-camper-3" name="lname-camper-3" required class="camper-3-fields">
                    </div>
                    <div id="camper-4" class="field-container box">
                        <h2>Camper 4</h2>
                        <label for="camp1-4">Plus Minus Zero</label>
                        <input type="checkbox" name="camp1-4" id="camp1-check-4" checked>
                        <label for="camp2-4">Times Into Fractions</label>
                        <input type="checkbox" name="camp2-4" id="camp2-check-4">
                        <label for="camp3-4">Geometry</label>
                        <input type="checkbox" name="camp3-4" id="camp3-check-4">
                        <label for="camp4-4">Turbo Multiplication</label>
                        <input type="checkbox" name="camp4-4" id="camp4-check-4">
                        <label for="fname-camper-4">First name:</label>
                        <input type="text" id="fname-camper-4" name="fname-camper-4" required class="camper-4-fields">
                        <label for="lname-camper-4">Last name:</label>
                        <input type="text" id="lname-camper-4" name="lname-camper-4" required class="camper-4-fields">
                    </div>
                    <h2>Policy Agreement</h2>
                    <label>I have read, and agree to the terms of the Policy Handbook</label>
                    <input type="checkbox" name="agreement" required>
                    <h2>Payment</h2>
                    <button id="agreement-button" class="button" type="submit">Register and Pay</button>
                </form>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>