<%- include('./partials/header.ejs')%>
    <div class="main-container">
        <div class="content-wrap center-content">
            <div class="form-container">
                <form action="/pay" method="POST">
                    <div id="household-info">
                        <h2>Household Information</h2>
                        <h2 class="field-header">Parent/Guardian Information</h2>
                        <div class="check-container">
                            <label for="extra-parent">Add A Second Parent/Guardian</label>
                            <input type="checkbox" id="extra-parent" name="extra-parent" value="Add Another Parent/Guardian">
                        </div>
                        <input type="hidden" name="has-parent-2" id="has-parent-2" value="false">
                        <div id="parent-1" class="field-container">
                            <h2 class="field-subheader">Parent/Guardian 1</h2>
                            <label for="fname-1">First name:</label>
                            <input type="text" id="fname-1" name="fname-1" required>
                            <label for="lname-1">Last name:</label>
                            <input type="text" id="lname-1" name="lname-1" required>
                            <label for="phone-1">Daytime Contact Phone:</label>
                            <input type="text" id="phone-1" name="phone-1" required pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                            <label for="email-1">Email Address:</label>
                            <input type="email" id="email-1" name="email-1" required>
                            <label for="address-1">Street Address:</label>
                            <input type="text" id="address-1" name="address-1" required>
                            <label for="aptnum-1">Apartment Number:</label>
                            <input type="text" id="aptnum-1" name="aptnum-1">
                            <label for="city-1">City:</label>
                            <input type="text" id="city-1" name="city-1" required>
                            <label for="state-1">State:</label>
                            <input type="text" id="state-1" name="state-1" required>
                            <label for="zip-1">Zip Code:</label>
                            <input type="text" id="zip-1" name="zip-1" required>
                        </div>
                        <div id="parent-2" class="field-container">
                            <h2 class="field-subheader">Parent/Guardian 2</h2>
                            <label for="fname-2">First name:</label>
                            <input type="text" id="fname-2" name="fname-2" required class="parent-2-fields">
                            <label for="lname-2">Last name:</label>
                            <input type="text" id="lname-2" name="lname-2" required class="parent-2-fields">
                            <label for="phone-2">Daytime Contact Phone:</label>
                            <input type="text" id="phone-2" name="phone-2" required class="parent-2-fields" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                            <label for="email-2">Email Address:</label>
                            <input type="email" id="email-2" name="email-2" required class="parent-2-fields">
                            <label for="address-2">Street Address:</label>
                            <input type="text" id="address-2" name="address-2" required class="parent-2-fields">
                            <label for="aptnum-2">Apartment Number:</label>
                            <input type="text" id="aptnum-2" name="aptnum-2">
                            <label for="city-2">City:</label>
                            <input type="text" id="city-2" name="city-2" required class="parent-2-fields">
                            <label for="state-2">State:</label>
                            <input type="text" id="state-2" name="state-2" required class="parent-2-fields">
                            <label for="zip-2">Zip Code:</label>
                            <input type="text" id="zip-2" name="zip-2" required class="parent-2-fields">
                        </div>
                        <h2 class="field-header">Local Emergency Contact</h2>
                        <p class="register-text">An emergency contact is required to register for the Math Art Connections summer camp.</p>
                        <div id="emergency-contact" class="field-container">
                            <label for="fname-ec">First name:</label>
                            <input type="text" id="fname-ec" name="fname-ec" required>
                            <label for="lname-ec">Last name:</label>
                            <input type="text" id="lname-ec" name="lname-ec" required>
                            <label for="relation-ec">Relationship to Child:</label>
                            <input type="text" id="relation-ec" name="relation-ec" required>
                            <label for="cellphone-ec">Cell Number:</label>
                            <input type="tel" name="cellphone-ec" required pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                            <label for="homephone-ec">Home Number:</label>
                            <input type="tel" name="homephone-ec" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                            <label for="workphone-ec">Work Number:</label>
                            <input type="tel" name="workphone-ec" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                        </div>
                    </div>
                    <h2 class="field-header">Approved Pick-up List</h2>
                    <p class="register-text">Add up to three Approved Pick-ups. Must include full name and relationship to the campers you wish to register.</p>
                    <div class="center-content">
                        <input type="button" id="add-pickup" class="button" value="Add An Approved Pick-up">
                    </div>
                    <input type="hidden" id="has-pickup-1" name="has-pickup-1" value="false">
                    <input type="hidden" id="has-pickup-2" name="has-pickup-2" value="false">
                    <input type="hidden" id="has-pickup-3" name="has-pickup-3" value="false">       
                    <div id="pickup-list">
                        <div id="pickup-1">
                            <h2 class="field-subheader">Approved Pickup 1</h2>
                            <label for="name-pickup-1">Full Name:</label>
                            <input type="text" id="name-pickup-1" name="name-pickup-1" required class="pickup-1-fields">
                            <label for="relation-pickup-1">Relationship to Child:</label>
                            <input type="text" id="relation-pickup-1" name="relation-pickup-1" required class="pickup-1-fields">
                        </div>
                        <div id="pickup-2">
                            <h2 class="field-subheader">Approved Pickup 2</h2>
                            <input type="hidden" id="has-pickup-2" name="has-pickup-2" value="false">
                            <label for="name-pickup-2">Full Name:</label>
                            <input type="text" id="name-pickup-2" name="name-pickup-2" required class="pickup-2-fields">
                            <label for="relation-pickup-2">Relationship to Child:</label>
                            <input type="text" id="relation-pickup-2" name="relation-pickup-2" required class="pickup-2-fields">
                        </div>
                        <div id="pickup-3">
                            <h2 class="field-subheader">Approved Pickup 3</h2>
                            <label for="name-pickup-3">Full Name:</label>
                            <input type="text" id="name-pickup-3" name="name-pickup-3" required class="pickup-3-fields">
                            <label for="relation-pickup-3">Relationship to Child:</label>
                            <input type="text" id="relation-pickup-3" name="relation-pickup-3" required class="pickup-3-fields">
                        </div>
                    </div>
                    <h2 class="field-header">Camper Information</h2>
                    <div id="num-children" class="field-container">
                        <h2 class="field-subheader">How Many Campers Are You Registering?</h2>
                        <label>1</label>
                        <input type="radio" name="num-children" value="1" id="radio-1" required checked>
                        <label>2</label>
                        <input type="radio" name="num-children" value="2" id="radio-2">
                        <label>3</label>
                        <input type="radio" name="num-children" value="3" id="radio-3">
                        <label>4</label>
                        <input type="radio" name="num-children" value="4" id="radio-4">
                    </div>
                    <div id="camp-selections">
                        <input type="hidden" id="pmz-1" name="pmz-1" value="true">
                        <input type="hidden" id="tif-1" name="tif-1" value="false">
                        <input type="hidden" id="geo-1" name="geo-1" value="false">
                        <input type="hidden" id="tum-1" name="tum-1" value="false">
                        <input type="hidden" id="pmz-2" name="pmz-2" value="true">
                        <input type="hidden" id="tif-2" name="tif-2" value="false">
                        <input type="hidden" id="geo-2" name="geo-2" value="false">
                        <input type="hidden" id="tum-2" name="tum-2" value="false">
                        <input type="hidden" id="pmz-3" name="pmz-3" value="true">
                        <input type="hidden" id="tif-3" name="tif-3" value="false">
                        <input type="hidden" id="geo-3" name="geo-3" value="false">
                        <input type="hidden" id="tum-3" name="tum-3" value="false">
                        <input type="hidden" id="pmz-4" name="pmz-4" value="true">
                        <input type="hidden" id="tif-4" name="tif-4" value="false">
                        <input type="hidden" id="geo-4" name="geo-4" value="false">
                        <input type="hidden" id="tum-4" name="tum-4" value="false">
                    </div>
                    <div id="camper-1" class="field-container box">
                        <h2 class="field-header" style="grid-column: 1 / 3;">Camper 1</h2>
                        <div class="checkboxes">
                            <div class="small-checkbox color1">
                                <label for="camp1-1" class="checkbox-label">Plus Minus Zero</label>
                                <input class="checkbox" type="checkbox" name="camp1-1" id="camp1-check-1" checked>
                            </div>
                            <div class="small-checkbox color2">
                                <label for="camp2-1" class="checkbox-label">Times Into Fractions</label>
                                <input class="checkbox" type="checkbox" name="camp2-1" id="camp2-check-1">
                            </div>
                            <div class="small-checkbox color3">
                                <label for="camp3-1" class="checkbox-label">Geometry</label>
                                <input class="checkbox" type="checkbox" name="camp3-1" id="camp3-check-1">
                            </div>
                            <div class="small-checkbox color4">
                                <label for="camp4-1" class="checkbox-label">Turbo Multiplication</label>
                                <input class="checkbox" type="checkbox" name="camp4-1" id="camp4-check-1">
                            </div>
                        </div>
                        <label for="fname-camper-1">First name:</label>
                        <input type="text" id="fname-camper-1" name="fname-camper-1" required>
                        <label for="lname-camper-1">Last name:</label>
                        <input type="text" id="lname-camper-1" name="lname-camper-1" required>
                        <label for="bday-camper-1">Birth date:</label>
                        <input type="date" id="bday-camper-1" name="bday-camper-1" required>
                        <label for="grade-camper-1">Grade:</label>
                        <select id="grade-camper-1" name="grade-camper-1" required>
                            <option value="K">Kindergarten</option>
                            <option value="1">1st Grade</option>
                            <option value="2">2nd Grade</option>
                            <option value="3">3rd Grade</option>
                            <option value="4">4th Grade</option>
                            <option value="5">5th Grade</option>
                            <option value="6">6th Grade</option>
                        </select>
                        <label for="about-camper-1">About Your Child:</label>
                        <textarea id="about-camper-1" name="about-camper-1"></textarea>
                        <p class="about-camper-text">Please include any important information about your child. Such as allergies, or relevant medical conditions.</p>
                    </div>
                    <div id="camper-2" class="field-container box">
                        <h2 class="field-header" style="grid-column: 1 / 3;">Camper 2</h2>
                        <div class="checkboxes">
                            <div class="small-checkbox color1">
                                <label for="camp1-2" class="checkbox-label">Plus Minus Zero</label>
                                <input class="checkbox" type="checkbox" name="camp1-2" id="camp1-check-2" checked>
                            </div>
                            <div class="small-checkbox color2">
                                <label for="camp2-2" class="checkbox-label">Times Into Fractions</label>
                                <input class="checkbox" type="checkbox" name="camp2-2" id="camp2-check-2">
                            </div>
                            <div class="small-checkbox color3">
                                <label for="camp3-2" class="checkbox-label">Geometry</label>
                                <input class="checkbox" type="checkbox" name="camp3-2" id="camp3-check-2">
                            </div>
                            <div class="small-checkbox color4">
                                <label for="camp4-2" class="checkbox-label">Turbo Multiplication</label>
                                <input class="checkbox" type="checkbox" name="camp4-2" id="camp4-check-2">
                            </div>
                        </div>
                        <label for="fname-camper-2">First name:</label>
                        <input type="text" id="fname-camper-2" name="fname-camper-2" required class="camper-2-fields">
                        <label for="lname-camper-2">Last name:</label>
                        <input type="text" id="lname-camper-2" name="lname-camper-2" required class="camper-2-fields">
                        <label for="bday-camper-2">Birth date:</label>
                        <input type="date" id="bday-camper-2" name="bday-camper-2" required class="camper-2-fields">
                        <label for="grade-camper-2">Grade:</label>
                        <select id="grade-camper-2" name="grade-camper-2" required class="camper-2-fields">
                            <option value="K">Kindergarten</option>
                            <option value="1">1st Grade</option>
                            <option value="2">2nd Grade</option>
                            <option value="3">3rd Grade</option>
                            <option value="4">4th Grade</option>
                            <option value="5">5th Grade</option>
                            <option value="6">6th Grade</option>
                        </select>
                        <label for="about-camper-2">About Your Child:</label>
                        <textarea id="about-camper-2" name="about-camper-2"></textarea>
                        <p class="about-camper-text">Please include any important information about your child. Such as allergies, or relevant medical conditions.</p>
                    </div>
                    <div id="camper-3" class="field-container box">
                        <h2 class="field-header" style="grid-column: 1 / 3;">Camper 3</h2>
                        <div class="checkboxes">
                            <div class="small-checkbox color1">
                                <label for="camp1-3" class="checkbox-label">Plus Minus Zero</label>
                                <input class="checkbox" type="checkbox" name="camp1-3" id="camp1-check-3" checked>
                            </div>
                            <div class="small-checkbox color2">
                                <label for="camp2-3" class="checkbox-label">Times Into Fractions</label>
                                <input class="checkbox" type="checkbox" name="camp2-3" id="camp2-check-3">
                            </div>
                            <div class="small-checkbox color3">
                                <label for="camp3-3" class="checkbox-label">Geometry</label>
                                <input class="checkbox" type="checkbox" name="camp3-3" id="camp3-check-3">
                            </div>
                            <div class="small-checkbox color4">
                                <label for="camp4-3" class="checkbox-label">Turbo Multiplication</label>
                                <input class="checkbox" type="checkbox" name="camp4-3" id="camp4-check-3">
                            </div>
                        </div>
                        <label for="fname-camper-3">First name:</label>
                        <input type="text" id="fname-camper-3" name="fname-camper-3" required class="camper-3-fields">
                        <label for="lname-camper-3">Last name:</label>
                        <input type="text" id="lname-camper-3" name="lname-camper-3" required class="camper-3-fields">
                        <label for="bday-camper-3">Birth date:</label>
                        <input type="date" id="bday-camper-3" name="bday-camper-3" required class="camper-3-fields">
                        <label for="grade-camper-3">Grade:</label>
                        <select id="grade-camper-3" name="grade-camper-3" required class="camper-3-fields">
                            <option value="K">Kindergarten</option>
                            <option value="1">1st Grade</option>
                            <option value="2">2nd Grade</option>
                            <option value="3">3rd Grade</option>
                            <option value="4">4th Grade</option>
                            <option value="5">5th Grade</option>
                            <option value="6">6th Grade</option>
                        </select>
                        <label for="about-camper-3">About Your Child:</label>
                        <textarea id="about-camper-3" name="about-camper-3"></textarea>
                        <p class="about-camper-text">Please include any important information about your child. Such as allergies, or relevant medical conditions.</p>
                    </div>
                    <div id="camper-4" class="field-container box">
                        <h2 class="field-header" style="grid-column: 1 / 3;">Camper 4</h2>
                        <div class="checkboxes">
                            <div class="small-checkbox color1">
                                <label for="camp1-4" class="checkbox-label">Plus Minus Zero</label>
                                <input class="checkbox" type="checkbox" name="camp1-4" id="camp1-check-4" checked>
                            </div>
                            <div class="small-checkbox color2">
                                <label for="camp2-4" class="checkbox-label">Times Into Fractions</label>
                                <input class="checkbox" type="checkbox" name="camp2-4" id="camp2-check-4">
                            </div>
                            <div class="small-checkbox color3">
                                <label for="camp3-4" class="checkbox-label">Geometry</label>
                                <input class="checkbox" type="checkbox" name="camp3-4" id="camp3-check-4">
                            </div>
                            <div class="small-checkbox color4">
                                <label for="camp4-4" class="checkbox-label">Turbo Multiplication</label>
                                <input class="checkbox" type="checkbox" name="camp4-4" id="camp4-check-4">
                            </div>
                        </div><label for="fname-camper-4">First name:</label>
                        <input type="text" id="fname-camper-4" name="fname-camper-4" required class="camper-4-fields">
                        <label for="lname-camper-4">Last name:</label>
                        <input type="text" id="lname-camper-4" name="lname-camper-4" required class="camper-4-fields">
                        <label for="bday-camper-4">Birth date:</label>
                        <input type="date" id="bday-camper-4" name="bday-camper-4" required class="camper-4-fields">
                        <label for="grade-camper-4">Grade:</label>
                        <select id="grade-camper-4" name="grade-camper-4" required class="camper-4-fields">
                            <option value="K">Kindergarten</option>
                            <option value="1">1st Grade</option>
                            <option value="2">2nd Grade</option>
                            <option value="3">3rd Grade</option>
                            <option value="4">4th Grade</option>
                            <option value="5">5th Grade</option>
                            <option value="6">6th Grade</option>
                        </select>
                        <label for="about-camper-4">About Your Child:</label>
                        <textarea id="about-camper-4" name="about-camper-4"></textarea>
                        <p class="about-camper-text">Please include any important information about your child. Such as allergies, or relevant medical conditions.</p>
                    </div>
                    <h2 class="field-header">Policy Agreement</h2>
                    <div class="check-container">
                        <label>I have read, and agree to the terms of the Policy Handbook</label>
                        <input type="checkbox" name="agreement" required>
                    </div>
                    <div class="center-content">
                        <button id="agreement-button" class="button" type="submit">Complete Registration</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>