<%- include('./partials/header.ejs')%>
    <div class="main-container">
        <div class="content-wrap">
            <div class="box" id="angela-box">Angela</div>
            <h2>Homework Helper</h2>
            <p class="body-text">Get that homework done! I will help your child focus on homework, time management, and foundational skills in reading, writing, and math. I will help your child prepare for projects, tests and feel confident about their learning!
            </p>
            <h2>Subject Tutoring: K-6</h2>
            <p class="body-text">Tutoring all subjects K-6th grade. I will help your child grow more confident learning the subject(s) areas that are a struggle in school. Help with learning foundational reading, writing, and math skills, and test taking strategies.
            </p>
            <h2>Visual Art: All Ages </h2>
            <p class="body-text">Drawing, painting, sculpture, multi-media. I can develop a curriculum to meet your needs and help you grow as an artist. (Does not include supplies and materials)                
            </p>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>