<%- include('./partials/header.ejs')%>
    <div class="main-container">
        <div class="content-wrap">
            <div class="box profile-grid" id="angela-box">
                <div class="pfp-container">
                    <img class="pfp" src="/images/angela-pfp.png">
                </div>
                <div class="profile">
                    <h3 class="name">Angela Greene - Director</h3>
                    <p class="profile-text box-text">Angela Greene is the director of the Math Art Connections camps offered in the summer of 2024. The (Art and) camps focus on connection in learning all academic disciplines using art playing games, and having fun! Angela is a three time National Board Certified teacher, holds her NC teaching license until 2026, and has experience teaching elementary, middle, and high school students. She was the art teacher for 30+ years at Phillips Middle School in Chapel Hill, NC. After retirement she substituted in all disciplines for two years and continues to tutor both at a tutoring center and privately. 
                    </p>
                    <p class="profile-text box-text">Please reach Angela at
                        <b>4rtand.com@gmail.com</b> or, text <b>919 886 1089</b> to sign up for Homework Helper, Subject Tutoring, or Visual Arts.</p>
                </div>
              </div>
            <h2>Homework Helper</h2>
            <p class="body-text">Get that homework done! I will help your child focus on homework, time management, and foundational skills in reading, writing, and math. I will help your child prepare for projects, tests and feel confident about their learning!
            </p>
            <h2>Subject Tutoring: K-6</h2>
            <p class="body-text">Tutoring all subjects K-6th grade. I will help your child grow more confident learning the subject(s) areas that are a struggle in school. Help with learning foundational reading, writing, and math skills, and test taking strategies.
            </p>
            <h2>Visual Art: All Ages </h2>
            <p class="body-text">Drawing, painting, sculpture, multi-media. I can develop a curriculum to meet your needs and help you grow as an artist. (Does not include supplies and materials)                
            </p>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>