/*
Main components
*/

html {
  /*background-color: #94fff7;*/
  background-color: #fff;
}

header {
  border: 2px solid #000d4e;
  border-bottom: 0.5vw solid #faad3f;
  background-color: #000d4e;
  background-image: linear-gradient(90deg, hsl(230, 100%, 15%),/* hsl(230, 100%, 20%) */ hsl(229, 37%, 25%));
  line-height: 20px;
  margin-top: 0;
}

footer{
  padding-top: 1vw;
  border-top: 7.5px solid #faad3f;
  background-color: #faad3f;
  background-image: linear-gradient(90deg, hsl(230, 100%, 15%),/* hsl(230, 100%, 20%) */ hsl(229, 37%, 25%));
  /*
  position: absolute;
  bottom: 0;
  */
  width: 100%;
  height: clamp(20px, 20vh, 20vh);
  color: #fff;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

/*
a {
  text-align: center;
  color: #faad3f;
  text-decoration: none;
  padding: 2.5%;
  font-family: 'Love Ya Like A Sister';
  font-size: clamp(13px, 1.5vw, 2vw);
}

a:hover {
  color: #fff;
}
*/

/* might move to #artand */
h1 {
  padding: 1vh 2vw 1vh 2vw;
  font-size: clamp(28px, 4.5vw, 5vw);
  font-family: 'Love Ya Like A Sister', cursive;
}

/* unused, replaced with .page-msg */
h2 {
  letter-spacing: 1px;
  color: #00082f;
  text-align: center;
  color: 3695c1;
  font-size: 3vw;
  font-family: 'Love Ya Like A Sister', cursive;
}

h3 {
  font-size: 300%;
  padding-top: 5vh;
  text-align: center;
  color: #fff;
  font-family: 'Love Ya Like A Sister', cursive;
}

h5 {
  font-size: clamp(10px, 1vw, 1vw);
  margin: 5px;
}

h6 {
  margin: 2px;
  font-size: clamp(8px, .8vw, .8vw);
}

/*
Header Styling
*/

.navs {
  text-align: center;
  color: #faad3f;
  text-decoration: none;
  padding: 2.5%;
  font-family: 'Love Ya Like A Sister';
  font-size: clamp(13px, 1.5vw, 2vw);
}

.navs:hover {
  color: #fff;
}

#main-info-container {
  display: flex;
  justify-content: left;
  align-items: start;
}

#main-phone {
  font-size: clamp(6px, 1.5vw, 16px);
  font-family: "Love Ya Like A Sister";
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  position: absolute;
  right: 1vw;
  padding: 4px;
  border-radius: 20%;
}

#main-location {
  font-size: clamp(6px, 1.5vw, 16px);
  font-family: "Love Ya Like A Sister";
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  position: absolute;
  right: 1vw;
  top: 35px;
  padding: 4px;
  border-radius: 20%;
}

.main-nav {
  padding: clamp(10px, .8vw, .8vw);
  background-color: #151e4d;
  /* background-image: linear-gradient(90deg, #141e51, #353b56); */
  background-image: linear-gradient(90deg, hsl(230, 50%, 30%),/* hsl(230, 100%, 20%) */ hsl(229, 30%, 40%));
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr 2fr 4fr;
}

.main-header {
  height: clamp(15px, 10vw, 10vw);
  display: grid;
  grid-template-columns: 4fr 8fr 4fr;
}

.main-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 15vw;
  border: 0.5vw solid #faad3f;
  border-radius: 30%;
}

#logo-container {
  display: flex;
  justify-content: center;
  position: relative;
}

#logo-image-container {
  position: absolute;
  top: 15%;
  right: 30%;
}

#artand {
  color: #faad3f;
  position: absolute;
  padding: 1vh 2vw 1vh 2vw;
  font-size: clamp(28px, 4.5vw, 5vw);
  font-family: 'Love Ya Like A Sister', cursive;
}

/*
Body Styling
*/

.body-text {
  font-size: clamp(12px, 2vw, 20px);
  font-family: "Playpen Sans";
  color:#000d4e;
  width: 80vw;
  text-align: center;
  margin: auto;
}

.content-wrap {
  padding-bottom: 2.5em;
}

.main-container {
  margin-top: 60px;
  position: relative;
  min-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}

/* change to .filler */
#filler {
  margin: 10px;
  padding: 10px;
}

/*
Footer Styling
*/

#footer-grid {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  text-align: center;
}

/*
Shared Styles
*/

.box {
  border: 2px solid #000;
  padding: 0vh 20vh 7vh 20vh;
  width: auto;
  margin: clamp(10px, 2vw, 2vw);
  margin-top: 10vh;
  margin-bottom: 1%;
  border-radius: 10%;
}

.box-text {
  font-family: "Playpen Sans";
  color: #fff;
  font-size: 150%;
  word-break: normal;
  white-space: normal;
}

.page-msg {
  margin: auto 15% auto 15%;
  font-family: 'Love Ya Like A Sister';
  color: #00082f;
  font-size: clamp(150%, 2.5vw, 3vw);
  text-align: center;
  padding-top: 1vh;
}

/*
Index Styling
*/

#box-grid {
  display: grid;
  grid-template-columns:  1fr 1fr;
  margin-bottom: 10vh;
}

/* these 4 need a rename, they belong to the index page */
#camp1 {
  padding-bottom: 10vh;
  background-image: linear-gradient(90deg, hsl(276, 84%, 56%), hsl(276, 84%, 76%));
  border: none;
}

#camp2 {
  padding-bottom: 10vh;
  background-image: linear-gradient(90deg, hsl(346, 84%, 66%), hsl(346, 84%, 56%));
  border: none;
}

#camp3 {
  padding-bottom: 10vh;
  background-image: linear-gradient(90deg, hsl(117, 82%, 60%), hsl(117, 82%, 70%));
  border: none;
}

#camp4 {
  padding-bottom: 10vh;
  background-image: linear-gradient(90deg, hsl(193, 60%, 60%), hsl(193, 60%, 70%));
  border: none;
}

/*
Camps Styling
*/
/* rename vague ids */

.camp-content-box {
  align-items: center;
}

#box1 {
  background-image: linear-gradient(90deg, hsl(276, 84%, 56%), hsl(276, 84%, 76%));
  border: none;
}

#box2 {
  background-image: linear-gradient(90deg, hsl(346, 84%, 66%), hsl(346, 84%, 56%));
  border: none;
}

#box3 {
  background-image: linear-gradient(90deg, hsl(117, 82%, 60%), hsl(117, 82%, 70%));
  border: none;
}

#box4 {
  background-image: linear-gradient(90deg, hsl(193, 60%, 60%), hsl(193, 60%, 70%));
  border: none;
  margin-bottom: 10vh;
}

/*
About us Styling
*/
/* ask everybody about colors */

/*
Policy Styling
*/

/* WIP: camp, checkout, agreement, register */