/*
Main components
*/

html {
  /*background-color: #94fff7;*/
  background-color: #fff;
}

header {
  border: 2px solid #000d4e;
  border-bottom: clamp(2px, 0.25vw, 0.25vw) solid #faad3f;
  background-color: #000d4e;
  background-image: linear-gradient(90deg, hsl(230, 100%, 15%),/* hsl(230, 100%, 20%) */ hsl(229, 37%, 25%));
  line-height: 20px;
  margin-top: 0;
}

footer{
  padding-top: 1vw;
  border-top: clamp(2px, 0.25vw, 0.25vw) solid #faad3f;
  background-color: #faad3f;
  background-image: linear-gradient(90deg, hsl(230, 100%, 15%),/* hsl(230, 100%, 20%) */ hsl(229, 37%, 25%));
  /*
  position: absolute;
  bottom: 0;
  */
  width: 100%;
  height: clamp(20px, 20vh, 20vh);
  color: #fff;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

/*
a {
  text-align: center;
  color: #faad3f;
  text-decoration: none;
  padding: 2.5%;
  font-family: 'Arial';
  font-size: clamp(13px, 1.5vw, 2vw);
}

a:hover {
  color: #fff;
}
*/

/* might move to #artand */
h1 {
  padding: 1vh 2vw 1vh 2vw;
  font-size: clamp(28px, 4.5vw, 5vw);
  font-family: 'Arial', cursive;
}

/* unused, replaced with .page-msg */
h2 {
  letter-spacing: 1px;
  color: #00082f;
  text-align: center;
  color: 3695c1;
  font-size: 3vw;
  font-family: 'Arial', cursive;
}

h3 {
  font-size: clamp(20px, 3vw, 3vw);
  padding-top: 1vw;
  text-align: center;
  color: #fff;
  font-family: 'Arial', cursive;
}

h5 {
  font-size: clamp(10px, 1vw, 1vw);
  margin: 5px;
}

h6 {
  margin: 2px;
  font-size: clamp(8px, .8vw, .8vw);
}

/*
Header Styling
*/

.navs {
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 2.5%;
  font-family: 'Arial';
  font-size: clamp(13px, 1.5vw, 2vw);
}

.navs:hover {
  color: hsl(35, 95%, 61%);
}

#main-info-container {
  display: flex;
  justify-content: left;
  align-items: start;
}

#main-phone {
  font-size: clamp(6px, 1.5vw, 16px);
  font-family: "Arial";
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  position: absolute;
  right: 1vw;
  padding: 4px;
  border-radius: 20%;
}

#main-location {
  font-size: clamp(6px, 1.5vw, 16px);
  font-family: "Arial";
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  position: absolute;
  right: 1vw;
  top: 35px;
  padding: 4px;
  border-radius: 20%;
}

.main-nav {
  padding: clamp(10px, .8vw, .8vw);
  background-color: #151e4d;
  /* background-image: linear-gradient(90deg, #141e51, #353b56); */
  background-image: linear-gradient(90deg, hsl(230, 50%, 30%),/* hsl(230, 100%, 20%) */ hsl(229, 30%, 40%));
  display: grid;
  grid-template-columns: 4fr 3fr 3fr 3fr 3fr 3fr 3fr 4fr;
}

.main-header {
  height: clamp(15px, 10vw, 10vw);
  display: grid;
  grid-template-columns: 4fr 8fr 4fr;
}

.main-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 15vw;
  border: clamp(2px, 0.25vw, 0.25vw) solid #faad3f;
  border-radius: 30%;
}

#logo-container {
  display: flex;
  justify-content: center;
  position: relative;
}

#logo-image-container {
  position: absolute;
  top: 15%;
  right: 30%;
}

#artand {
  color: #fff;
  position: absolute;
  padding: 1vh 2vw 1vh 2vw;
  font-size: clamp(28px, 4.5vw, 5vw);
  font-family: 'Arial', cursive;
}

/*
Body Styling
*/

.body-text {
  font-size: clamp(12px, 2vw, 20px);
  font-family: "Arial";
  color:#000d4e;
  width: 80vw;
  text-align: center;
  margin: auto;
}

.content-wrap {
  padding-bottom: 2.5em;
}

.main-container {
  margin-top: 60px;
  position: relative;
  min-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}

/* change to .filler */
#filler {
  margin: 10px;
  padding: 10px;
}

/*
Footer Styling
*/

#footer-grid {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  text-align: center;
}

/*
Shared Styles
*/

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .25vw solid #fff;
  border-radius: 30px;
  width: clamp(40px, 12vw, 12vw);
  height: 4.5vw;
  text-decoration: none;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.button-text {
  margin: 4px auto 4px auto;
  color: #fff;
  font-family: "Arial";
  font-size: 1.8vw;
}

.button-purple {
  width: 24vw;
  background-image: linear-gradient(90deg, hsl(276, 84%, 56%), hsl(276, 84%, 70%));
}

.button-purple:hover {
  background-image: linear-gradient(90deg, hsl(276, 84%, 60%), hsl(276, 84%, 76%));
}

.button-pink {
  width: 24vw;
  background-image: linear-gradient(90deg, hsl(346, 84%, 66%), hsl(346, 84%, 56%));
}

.button-pink:hover {
  background-image: linear-gradient(90deg, hsl(346, 84%, 70%), hsl(346, 84%, 60%));
}

.button-green {
  width: 24vw;
  background-image: linear-gradient(90deg, hsl(117, 82%, 60%), hsl(117, 82%, 70%));
}

.button-green:hover {
  background-image: linear-gradient(90deg, hsl(117, 82%, 56%), hsl(117, 82%, 66%));
}

.button-blue {
  width: 24vw;
  background-image: linear-gradient(90deg, hsl(193, 60%, 60%), hsl(193, 60%, 70%));
}

.button-blue:hover {
  background-image: linear-gradient(90deg, hsl(193, 60%, 64%), hsl(193, 60%, 74%));
}

.box {
  /*padding: 0vh 20vh 7vh 20vh;*/
  width: auto;
  margin: clamp(10px, 2vw, 2vw);
  margin-top: 10vh;
  margin-bottom: 1vh;
  border-radius: 50px;
}

.box-text {
  font-family: "Arial";
  color: #fff;
  font-size: clamp(12px, 1.5vw, 1.5vw);
  word-break: normal;
  white-space: normal;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-msg {
  margin: auto 15% auto 15%;
  font-family: 'Arial';
  color: #00082f;
  font-size: clamp(150%, 2.5vw, 3vw);
  text-align: center;
  padding-top: 1vh;
}

/*
Index Styling
*/

.bottom-border-white {
  border-bottom: 0.25vw solid #fff;
  margin-left: 2vw;
  margin-right: 2vw;
}

.camp-header-text {
  font-family: 'Arial';
  color: #fff;
  border-bottom: 0.25vw solid #fff;
  font-size: clamp(20px, 2.5vw, 2.5vw);
  padding-bottom: 1vw;
  margin: 1vw 2vw 1vw 2vw;
}

.date-grid-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1vw auto 1vw auto;
}

.date-text {
  font-family: 'Arial';
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: clamp(14px, 2vw, 2vw);
  margin: 1vw;
}

.description-text {
  font-family: 'Arial';
  color: #fff;
  font-size: clamp(12px, 1.5vw, 1.5vw);
  margin: 0.5vw;
  text-align: center;
}

#box-grid {
  display: grid;
  grid-template-columns:  1fr;
  margin-bottom: 10vh;
}

@media (min-width: 600px) {
  
  #box-grid {
    grid-template-columns: 1fr 1fr;
  }

}

/* these 4 need a rename, they belong to the index page */
#camp1 {
  padding-bottom: 2.5vw;
  background-image: linear-gradient(90deg, hsl(276, 84%, 56%), hsl(276, 84%, 76%));
  /*border: none;*/
}

#camp2 {
  padding-bottom: 2.5vw;
  background-image: linear-gradient(90deg, hsl(346, 84%, 66%), hsl(346, 84%, 56%));
  /*border: none;*/
}

#camp3 {
  padding-bottom: 2.5vw;
  background-image: linear-gradient(90deg, hsl(117, 82%, 60%), hsl(117, 82%, 70%));
  /*border: none;*/
}

#camp4 {
  padding-bottom: 2.5vw;
  background-image: linear-gradient(90deg, hsl(193, 60%, 60%), hsl(193, 60%, 70%));
  /*border: none;*/
}

/*
Camps Styling
*/
/* rename vague ids!!!! they can be seen! */

.camp-description {
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: clamp(10px, 1.2vw, 1.2vw);
}

.camp-content-box {
  align-items: center;
  margin-bottom: 1vw;
}

#box1 {
  background-image: linear-gradient(90deg, hsl(276, 84%, 56%), hsl(276, 84%, 76%));
  border: none;
}

#box2 {
  background-image: linear-gradient(90deg, hsl(346, 84%, 66%), hsl(346, 84%, 56%));
  border: none;
}

#box3 {
  background-image: linear-gradient(90deg, hsl(117, 82%, 60%), hsl(117, 82%, 70%));
  border: none;
}

#box4 {
  background-image: linear-gradient(90deg, hsl(193, 60%, 60%), hsl(193, 60%, 70%));
  border: none;
  margin-bottom: 10vh;
}

.camp-box-grid-1 {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.camp-box-grid-2 {
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.date-grid-camps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.description-text-camps {
  font-family: 'Arial';
  color: #fff;
  font-size: clamp(10px, 1vw, 1vw);
  margin: 0.5vw;
  text-align: center;
}

.date-text-camps {
  font-family: 'Arial';
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: clamp(12px, 1.2vw, 1.2vw);
  margin: 1vw;
  letter-spacing: 1px;
}

.time-text-camps {
  font-family: 'Arial';
  color: #fff;
  font-size: clamp(12px, 1.2vw, 1.2vw);
  text-align: center;
  margin-bottom: 0.5vw;
}

#camp-1-image-box {
  border-left: 0.25vw solid #fff;
}

#camp-2-image-box {
  border-right: 0.25vw solid #fff;
}

#camp-3-image-box {
  border-left: 0.25vw solid #fff;
}

#camp-4-image-box {
  border-right: 0.25vw solid #fff;
}

/*
About us Styling
*/

.profile-grid {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.pfp {
  width: clamp(25px, 16vw, 250px);
  border: 0.25vw solid #fff;
  border-radius: 30px;
}

.pfp-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  border-left: 0.25vw solid #fff;
}

.name {
  margin-top: 0;
}

.profile-text {
  margin-left: 2vw;
  margin-right: 2vw;
}

#angela-box {
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-image: linear-gradient(90deg, hsl(276, 84%, 56%), hsl(276, 84%, 76%));
  border: none;
  margin: auto;
  margin-bottom: 4vh;
  margin-top: 4vh;
}

#dj-box {
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-image: linear-gradient(90deg, hsl(193, 60%, 60%), hsl(193, 60%, 70%));
  border: none;
  margin: auto;
  margin-bottom: 4vh;
}

#brad-box {
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-image: linear-gradient(90deg, hsl(346, 84%, 66%), hsl(346, 84%, 56%));
  border: none;
  margin: auto;
  margin-bottom: 4vh;
}

/*
FAQ Styling
*/

.faqs {
  border-top: 0.25vw solid #000d4e;
  margin-top: 2vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: 4vw;
  margin-right: 4vw;
}

.question {
  color:#000d4e;
  font-family: 'Arial';
  grid-column: 1 / 3;
  text-align: left;
  font-size: 2.5vw;
}

.answer {
  color:#151e4d;
  font-family: 'Arial';
  grid-column: 2 / 4;
  text-align: right;
}

/*
Policy Styling
*/

#policy-box {
  background-image: linear-gradient(90deg, hsl(230, 50%, 30%),/* hsl(230, 100%, 20%) */ hsl(229, 30%, 40%));
  border: none;
  padding: 8px;
}

#policy-container {
  background-color: #fff;
  border-radius: 45px;
  padding: 50px;
}

#policy-content {
  color: #000;
  padding-top: 0px;
}

.policy-header {
  color: #000;
  font-family: 'Times New Roman';
  font-weight: bold;
  text-decoration: underline;
  font-size: clamp(14px, 2.2vw, 2.2vw);
}

.policy-subheader {
  color: #000;
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: clamp(12px, 1.7vw, 1.7vw);
}

.policy-text {
  color: #000;
  font-family: 'Times New Roman';
  font-size: clamp(12px, 1.2vw, 1.2vw);
  text-align: center;
}

.policy-link {
  color:#151e4d;
}

.policy-link:hover {
  color:#5361a7;
}

.policy-filler {
  padding-top: 20px;
}

/*
Register Styling
*/

#agreement-button {
  background-color: #faad3f;
}

#agreement-button:hover {
  background-color: #fbbc64;
}

.form-container {
  border: 0.2vw solid #000d4e;
  margin-left: clamp(20px, 8vw, 8vw);
  margin-right: clamp(20px, 8vw, 8vw);
  border-radius: 10px;
}

.field-container {
  border: 1px solid #000;
  margin-left: clamp(20px, 8vw, 8vw);
  margin-right: clamp(20px, 8vw, 8vw);
}